<div class="well well-lg">

  <!--Simples-->
  <h4><span class="label label-primary">Bets Result</span></h4>
  <result-Bet [bets]="multiResultSelectedBets" typeBet="multiResult"></result-Bet>
  <result-Bet [bets]="dobleChanceSelectedBets" typeBet="dobleChance"></result-Bet>
  <!--<result-Bet bets="{{multiResultSelectedBets}}" typeBet="resultScore"></result-Bet>-->

  <!--Accumulated-->
  <!--<h4><span class="label label-primary">Accumulated</span></h4>
  <div class="col-xs-12 well well-sm">
    <div class="row marginTop">
      <div class="col-xs-12 vcenter">
        <div class="col-xs-7">Ganador -> 4,84</div>
        <div class="col-xs-5"><input type="text" class="form-control pull-right" placeholder="bet value"></div>
      </div>
    </div>
    <hr>
    <label class="control-label">Ganancia potencial: 15</label>
  </div>-->
  <div class="text-center">
    <button type="button" class="btn btn-primary">Bet now</button>
  </div>
</div>
