<div class="well well-lg">
  <h4><span class="label label-primary">Simples</span></h4>
  <div class="col-xs-12 well well-sm">
    <section>
      <span class="label label-default">Barcelona - Madrid</span>
      <span class="glyphicon glyphicon-remove pull-right"></span>
    </section>
    <div class="row marginTop">
      <div class="col-xs-12 vcenter">
        <div class="col-xs-6">Barcelona -> 1,22</div>
        <div class="col-xs-6"><input type="text" class="form-control pull-right" placeholder="bet value"></div>
      </div>
    </div>
  </div>

  <h4><span class="label label-primary">Accumulated</span></h4>
  <div class="col-xs-12 well well-sm">

  </div>
</div>
