
  <div *ngFor="let bet of betsModel" class="col-xs-12 correctScoreHeader">
      <span id="glyphiconBet{{bet.id}}" class="glyphicon glyphicon-chevron-down" (click)="activeResults(bet.id -1)"></span>
      {{bet.homeTeam}} - {{bet.awayTeam}}

      <div class="col-xs-12 text-center marginTopBottom" *ngIf="resultsVisible[bet.id - 1]">
        <!--HOME WIN-->
        <div class="col-xs-4">
          <span class="label label-primary">{{bet.homeTeam}} win</span>
          <div *ngFor="let resultScore of (bet.correctScoreModel | filterTypeResult: 'homeWin')"
               class="col-xs-12 marginResultScore">
               <button id="btn{{bet.id}}{{resultScore.id}}"
                       class="btn btn-default"
                       type="button"
                       (click)= "setBetCorrectScore($event.currentTarget.id, bet, resultScore)">
                 {{resultScore.localScore}} - {{resultScore.awayScore}} ({{resultScore.rate}})
               </button>
          </div>
        </div>
        <!--DRAW-->
        <div class="col-xs-4">
          <span class="label label-primary">Draw</span>
          <div *ngFor="let resultScore of (bet.correctScoreModel | filterTypeResult: 'draw')"
               class="col-xs-12 marginResultScore">
               <button id="btn{{bet.id}}{{resultScore.id}}"
                       class="btn btn-default"
                       type="button"
                       (click)= "setBetCorrectScore($event.currentTarget.id, bet, resultScore)">
                 {{resultScore.localScore}} - {{resultScore.awayScore}} ({{resultScore.rate}})
               </button>
          </div>
        </div>
        <!--VISITANT WIN-->
        <div class="col-xs-4">
          <span class="label label-primary">{{bet.awayTeam}} win</span>
          <div *ngFor="let resultScore of (bet.correctScoreModel | filterTypeResult: 'awayWin')"
               class="col-xs-12 marginResultScore">
            <button id="btn{{bet.id}}{{resultScore.id}}"
                       class="btn btn-default"
                       type="button"
                       (click)= "setBetCorrectScore($event.currentTarget.id, bet, resultScore)">
                 {{resultScore.localScore}} - {{resultScore.awayScore}} ({{resultScore.rate}})
               </button>
          </div>
        </div>
      </div>
  </div>
