.marginTop {
  margin-top: 20px;
}

.vcenter {
    display: flex;
    align-items: center;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #C0C0C0 -moz-use-text-color #C0C0C0;
  // border-style: solid none;
  border-width: 1px 0;
  // margin: 18px 0;
}

.titleMatch {
  text-align: center;
}
