<!--<h2></h2>
<p></p>-->
<table class="table table-striped">
    <thead>
      <tr>
        <th>Match</th>
        <th *ngFor="let bet of betArray">
          {{bet}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let betModel of betsModel">
        <td>{{betModel.homeTeam}} - {{betModel.awayTeam}}</td>
        <td *ngFor="let betOption of betArray">
          <button type="button" class="btn btn-link" (click)= "setBet(betModel, betOption)">
            {{betModel[typeBet][betOption].rate}}
          </button>
        </td>
      </tr>
    </tbody>
</table>
