<!--<h2></h2>
<p></p>-->
<table class="table table-striped">
    <thead>
      <tr>
        <th>Match</th>
        <th *ngFor="let title of titles">
          {{title}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bet of betsModel">
        <td>{{bet.homeTeam}} - {{bet.awayTeam}}</td>
        <td *ngFor="let option of options; let i=index">
          <button id="btn{{option}}{{bet.id}}"
                  type="button"
                  class="btn btn-link "
                  (click)= "setBet($event.currentTarget.id, bet, option)">
            {{bet[typeBet][option].rate}}
          </button>
        </td>
      </tr>
    </tbody>
</table>
